@import '../bower_components/normalize-scss/normalize';
$fancybox-img-path: '../bower_components/fancybox-scss/source/';
@import '../bower_components/fancybox-scss/source/jquery.fancybox.scss';
$fa-font-path: '../bower_components/font-awesome/fonts';
@import '../bower_components/font-awesome/scss/font-awesome.scss';

// COLORS
$background: rgb(20,20,20);
$text-color: rgb(230,230,230);
$accent-color: #19f6e8;
//*** TYPE
$heading-font: 'Open Sans Condensed', sans-serif;
$body-font: 'Open Sans', sans-serif;
$social-font: 'Raleway Dots', cursive;
html {
  box-sizing: border-box;
}
body {
  padding-top: 150px;

}
*, *:before, *:after {
  box-sizing: inherit;
}
img {
  width: 100%;
  display: block;
  margin: 0;
}

h1 {
  margin: 0 0 100px;
  font: {
    family: $heading-font;
    size: 60px;
    weight: 300;
  }
  span {
      font-weight: 900;
  }
  text-transform: uppercase;
  letter-spacing: 3px;
}
.title-wrap {
  padding-top: 30px;
  padding-left: 30px;
}
h2 {
  font-size: 40px;
  font-weight: 300;
  font-family: $heading-font;
  display: block;
  margin-bottom: 0;
  margin-top: 0px;
  line-height: 40px;
  span {
    font-weight: 900;
    color: $accent-color;
  }
}
.splash {
  z-index: 200;
  background-color: $background;
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: top .4s ease-in;
  &.slide-up {
    top: -100%;
  }
}
.text {
  font-family: 'Roboto Condensed';
  font-size: 22px;
  line-height: 32px;
  letter-spacing: 8px;
  color: $text-color;
  top: -48px;
  position: relative;
}
.social {
  font-family: $social-font;
  font-size: 12px;
  padding-top: 80px;
  text-transform: uppercase;
  ul {
    padding-left: 0px;
    list-style: none;
    width: 300px
  }
  a {
    color: $text-color;
    padding: 2px 0;
    padding-left: 30px;
    display: block;
    font-weight: 100;
    text-decoration: none;
    transition: all .3s ease;
    i {
      opacity: 0;
      transition: all .3s ease, color .7s ease-in;
      margin-left: -15px;
    }
  }
  a:hover {
    padding-left: 15px;
    i {
      margin-left: 10px;
      opacity: 1;
      color: $accent-color;
    }
  }
}
.svg-wrapper {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 auto;
  width: 320px;
  cursor: pointer;
}
.shape {
  stroke-dasharray: 140 540;
  stroke-dashoffset: -324;
  stroke-width: 4px;
  fill: transparent;
  stroke: $accent-color;
  border-bottom: 5px solid black;
  transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
}
.svg-wrapper:hover .shape {
  stroke-width: 2px;
  stroke-dashoffset: 0;
  stroke-dasharray: 760;
}
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
body {
  background: $background;
  color: $text-color;
}
header {
  position: fixed;
  top: 0;
  left: 0;
}

.hide-overflow {
  padding-top: 150px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;

}
.gallery {
  &.dimmed {
    img {
      opacity: 0.5;
    }
  }
  position: relative;
  margin: 0 auto;
  width:60%;
  max-width: 1000px;
  background-color: $background;
  height: 4000px;
  a {
    position: relative;
  }
  img {
    position: relative;
    transform: scale(1) translateZ(0);
    transition: z-index 0.2s step-end, transform 0.4s ease-out, opacity .3s ease;
    z-index: 0;
    padding: 0 5% 5% 0;
    &:hover {
      opacity: 1;
      z-index: 100;
      transform: scale(1.07);
    }
  }
}
.column {
  width: 33.33333333333333333333333333333333333333333%;
  float: left;
}

// Change Fancy Box settings

#close-button {
  position: absolute;
  top: -20px;
  right: -15px;
  color: $text-color;
  font-size: 40px;
  cursor: pointer;
  font-weight: 300;
}
.fancybox-prev:hover .arrow, .fancybox-next:hover .arrow {
  opacity: 1;
}
.fancybox-next {
  transform: rotate(180deg);
}

.arrow {
  fill: $text-color;
  width: 60px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: opacity .3s ease;
  opacity: 0;
}
.fancybox-prev span {
  transform: rotate(180deg);
}
.fancybox-skin {
  background: none;
}
























